.Header{
    width: 100%;
    height: 80px;
    background: #3a3a3a;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.navbar{
    width: auto;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    
}

.logo{
    width: 70px;

}


.addnew{
    color: black;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    background: #666CFF;
    width: 120px;
    border-radius: 10px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.add-new-all :hover{
    background: #4f53d3;
    border-radius: 10px;

}

.plus-icon{
    width: 40px;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
}

.export{

    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px;
    background: #E32D2D;
    width: 120px;
    border-radius: 10px;
    height: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000000;
    cursor: pointer;


}

.export:hover{
    background: #a11c1c;

}

.exporticon{
    width: 40px;

}

.exporttext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    padding: 5px;
}

.lineup{
    margin: 5px;
    height: 40px;
    background-color: rgb(38, 38, 38);
    width: 1.25px;


}


.down{
    width: 20px;
    margin-right: 5px;
}

.sub-navbar{
    background: #7e7e7e;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: end;
    padding: 2.5px;
}

.login-nav{
    padding-right: 5%;
    margin: 0 20px 0 20px;

}

.logout-nav{
    padding-right: 5%;
    margin: 0 20px 0 20px;

}



.sub-navbar h3{
    color: black;

}

