.dvdesign-popup-main{
    padding: 20px;
}

.dvdesign-popup-main h2{
    padding: 10px;
    text-align: center;

}

table {
    border-collapse: collapse; 
    width: 100%;
    background: #fff;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    
  }

.back-btn-dvdesign{
    margin: 2.5%;
    background: none;
    width: 10%;
    
}
  
.back-dvdesign {
    background: #676767;
    padding: 15px 50px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

}

.back-dvdesign h3{
    color: black;
    text-align: center;
}

.back-btn-dvdesign :hover{
    background: #525252;

}



