body{
    overflow: hidden;
}

.LoginBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 410px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.LoginBox h1{
    text-align: center;
    padding: 0px 0 20px 0;
}

.LoginBox form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .Login{
    position: relative;
    border-bottom: 2px solid;
    margin: 30px 0;
}

.Login input{
    width: 100%;
    border: none;
    padding: 15px 5px;
    height: 20px;
    background: none;
    outline: none;

}

.Login label{
    position: absolute;
    top: -50%;
    left: 5px;
    color: rgba(139, 139, 139, 0.933);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;

}




.forgotpass{
    padding-bottom: 20px;

}

.button{
    padding: 10px 0 15px 0;
}

.register{
    padding-bottom: 5px;

}

.underForgot{
    text-decoration: underline;
}

.underRegister{
    text-decoration: underline;
}


button{
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background: #44964C;
    font-size: 20px;
    font-weight: 650;
    
}

