.wbdetail-body{
    height: 90vh;
    overflow-y: scroll;
    overflow-y: overlay;

}



.select{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding-bottom: 50px;
    width: 100%;

}

@media screen and (max-width: 600px) {
    .select{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 50px;
    
    }
}

.labelBox{
    width: 175px;
    background: #D9D9D9;
    margin-top: 35px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: black;

}

.labelBox:hover{
    background: #b9b9b9;

}

.workbook{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Projectname{
    display: flex;
    justify-content: center;

}

.Projectname h3{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}


.projectline{
    width: 68%;
    border: solid 1px;

}

.WBDetail-Data{
    background: #d1d1d1;
    width: 68%;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    margin: 0 0% 0 16%;
    margin-top: 1%;
    padding: 0.5% 0 0 0;
    height: 50vh;
    overflow-y: scroll;
    overflow-y: overlay;
}
