.AddSwDetailPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 20% 0% 20%;

}

.AddSwDetailPage h1{
    text-align: center;
}

.AddSwDetailPage form{
    box-sizing: border-box;
    margin-top: -1%;

}


.fourth-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}


  

.fifth-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.sixth-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}

.hostname-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1%;

}

.hostname-form label{
    font-weight: 700;
    font-size: 18px;

}

.hostname-form input{
    border: none;
    height: 45px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.hostname-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1%;

}

.hostname-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.hostname-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}


.location-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;

}

.location-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.location-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.brand-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1%;

}

.brand-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.brand-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.model-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;

}

.model-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.model-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.image-select{
    padding-top: 1%;
    padding-bottom: 0px;
}

.image-select label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;
}

.image-select .selectImg{
    padding: 5px 0 0 0;
}

.serialnumber-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1%;

}

.serialnumber-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.serialnumber-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.macaddress-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;

}

.macaddress-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.macaddress-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.ipaddress-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1%;

}

.ipaddress-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.ipaddress-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.subnetmask-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;

}

.subnetmask-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.subnetmask-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.defaultgateway-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 1%;

}

.defaultgateway-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.defaultgateway-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}

.swdetail-remark-form{
    padding-top: 1%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 1%;

}

.swdetail-remark-form label{
    padding-bottom: 0px;
    font-weight: 700;
    font-size: 18px;

}

.swdetail-remark-form input{
    border: none;
    height: 35px;
    border-radius: 10px;
    background: #D9D9D9;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    padding-left: 10px;
    font-size: 18px;

}


