.swinterface-popup-main{
    padding: 20px;
    height: 85vh;
    overflow-y: auto;
}

@media screen and (max-width: 600px) {
    .swinterface-popup-main{
        padding: 20px;
        height: 60vh;
        overflow-y: auto;
    }


}

.swinterface-popup-main h2{
    padding: 10px;
    text-align: center;
    margin-bottom: 3%;

}

.image-of-switch{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.switch-image{
    max-width: 884px;
    max-height: 256px;
    width: auto;
    height: auto;
}

.switchdetail-data{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.sub-thead{
    padding: 20px;
}

.Configuration-detail table{
    width: 150%;
    margin-left: -50%;
}

.Hardware-detail table{
    width: 150%;
}

.Configuration-detail table thead{
    border: 1px solid;
    text-align: center;
}

.Hardware-detail table thead{
    border: 1px solid;
    text-align: center;
    padding: 2px;
}


.Configuration-detail table tbody td{ 
    padding: 2px;
    font-size: 14px;

}

.Hardware-detail table tbody td{
    padding: 2px;
    font-size: 14px;

}


